<header>
    <h1>Horoscope Annuel</h1>
</header>

<div id="birthdate">

    <p>Pour savoir ce que vous réserve cette année,<br/>
        merci d'entrer votre date de naissance</p>

    <form (submit)="setDate($event, newdate.value)">
        <input type="text" placeholder="Votre jour de naissance et le mois (JJ-MM)" #newdate>
        <input type="submit" value="VALIDER">
    </form>

    <li *ng-for="#birthDates of birthDates">
        <span style="color:white"><p>{{birthDates.date}}</p></span>
    </li>

</div>


<result></result>

<div id="signs">

    <a href="pagesSignes/belier.html">
        <div id="belier" class="sign">
            <img [src]="images[2].src" alt="Bélier" />
        </div>
    </a>


    <a href="pagesSignes/taureau.html">
        <div id="taureau" class="sign">
            <img [src]="images[10].src" alt="Taureau">
        </div>
    </a>


    <a href="pagesSignes/gemeaux.html">
        <div id="gemeaux" class="sign">
            <img [src]="images[5].src" alt="Gémeaux">
        </div>
    </a>


    <a href="pagesSignes/cancer.html">
        <div id="cancer" class="sign">
            <img [src]="images[3].src" alt="Cancer">
        </div>
    </a>


    <a href="pagesSignes/lion.html">
        <div id="lion" class="sign">
            <img [src]="images[6].src" alt="Lion">
        </div>
    </a>

    <a href="pagesSignes/vierge.html">
        <div id="vierge" class="sign">
            <img [src]="images[12].src" alt="Vierge">
        </div>
    </a>


    <a href="pagesSignes/balance.html">
        <div id="balance" class="sign">
            <img [src]="images[1].src" alt="Balance">
        </div>
    </a>


    <a href="pagesSignes/scorpion.html">
        <div id="scorpion" class="sign">
            <img [src]="images[9].src" alt="Scorpion">
        </div>
    </a>


    <a href="pagesSignes/sagittaire.html">
        <div id="sagittaire" class="sign">
            <img [src]="images[8].src" alt="Sagittaire">
        </div>
    </a>


    <a href="pagesSignes/capricorne.html">
        <div id="capricorne" class="sign">
            <img [src]="images[4].src" alt="Capricorne">
        </div>
    </a>


    <a href="pagesSignes/verseau.html">
        <div id="verseau" class="sign">
            <img [src]="images[11].src" alt="Verseau">
        </div>
    </a>


    <a href="pagesSignes/poisson.html">
        <div id="poisson" class="sign">
            <img [src]="images[7].src" alt="Poisson">
        </div>
    </a>


</div>